################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Temp/UnityLockfile
/.vs/Testing/v16/Server/sqlite3
/.vscode
/Library
/Logs
/obj/Debug
/Packages
/Temp
/$tf
/.vs
/obj/Release
